checkpoints/
datasets/
test_images/
venv/
.idea/
__pycache__/
*/BFM_2009/*
*/BFM_2019/*
shape_predictor_68_face_landmarks.dat
*/playground/lfwcrop_grey/*
*/playground/face-coeffs/*
*/playground/pics/*
*/playground/*.png
*/playground/*.jpg
*/playground/*.obj
nvdiffrast/docs/
*/data/input/*
*/data/output/*
*/data/working/*
*/data/misc/*